.movies .moviecard{
    position: relative;
}
.movies .moviecard .movie{
   /* background-color: white;*/
    margin-bottom: 70px;
    font-weight: 300;
    padding: 10px;
    color:#adaeb9;
    transition : 350ms linear;
    text-align : left;
    z-index: 1;
}

 .movies .moviecard .movie__data{
    max-height: 340px;
    top:30%;left:50%;transform: translate(-50%, -50%);
    position: absolute;
    font-weight: 300;
    padding: 10px;
    max-width:250px;
    min-width: 230px;
    overflow: auto;
}
.movies .moviecard .movie__data::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.movies .moviecard .movie .movie__head{
    display: grid;
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 180px 50px;
    align-content: stretch;
}
.movies .moviecard:hover .movie{
    margin:0 20px;
    transform:scale(1.2);
    
}
.movies .moviecard:hover img{
    opacity: 0.3;
    
}
.movies .moviecard:hover .movie__data{
    transition : 550ms all;
    animation: fadein 2s;
}


.movie img{
    display:table;
    margin-left: auto;
    margin-right: auto;
    position :relative;
    height: auto; width: auto;
}


.movie .movie__title {
    display:table;
    margin-left: auto;
    margin-right: auto;
    max-width: 230px;
    font-size : 25px;
    color: #dfdfdf;
    font-weight :400;
}
.movie .movie__rating{
    display:table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    font-size : 25px;
    color: #FF364E;
    font-weight :400;
}

.movie__data .movie__genres{
    list-style : none;
    padding : 0;
    display : flex;
    flex-wrap : wrap;
    margin : 5px 0px;
}

.movie__genres li, .movie__data .movie__year{
    margin-right :10px;
    font-size : 14px;
}

@keyframes fadein{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}